body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#face-box {
    position: relative;
}

#overlay {
    position: absolute;
}

#face-box, #overlay {
    height: 480px;
    left: 0;
    top: 0;                
    width: 640px;
}

#lampadas-box {
    background: white;
    border: 1px solid black;
    right: 50px;
    padding: 10px;
    position: absolute;  
    text-align: center; 
    top: 50px; 
    width: 94px;
}

.lampada {
    height: 150px;
    width: 94px;
}

.lampada.desliga {
    background: url('../img/lampada.jpg') top left no-repeat;
}

.lampada.liga {
    background: url('../img/lampada.jpg') top right no-repeat;
}